/* App.js  */
.App {
  height: 100%;
  display: flex;
  flex-direction: column;
}

/* NAVBAR */
.navbar {
  font-family: "Roboto";
  flex: 0 0 auto;
  order: 1;
}
.navbar-brand {
  font-family: "Rubik";
}

.bg-white {
  background-color: #fff;
}
.nav-search {
  width: 100%;
}
/* END NAVBAR */

/* BODY  */

.main-container {
  order: 2;
  margin-bottom: 100px;
}

/* END BODY */

.badge-white {
  background-color: #fff;
}

.carousel-inner {
  height: 400px;
}

.jumbotron-black {
  background-color: #fff;
  color: #000;
}
.mvp-img {
  filter: blur(3px);
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
}

/*
.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #000;
  color: #fff;
}
.footer-text {
  font-family: 'Rubik';
}
.right-footer {
  text-align: right;
}
*/
.soc-link {
  text-deocration: none;
  color: #fff;
}
.soc-link:hover {
  text-deocration: none;
  color: #fff;
}
.register-form {
  text-align: center;
}
.card-beatpage {
  border-radius: 30px;
}

.profile {
  width: 100%;
  position: relative;
  background: #fff;

  padding-bottom: 5px;
  margin-bottom: 20px;
}

.profile .image {
  display: block;
  position: relative;
  z-index: 1;
  overflow: hidden;
  text-align: center;
  border: 5px solid #fff;
}

.profile .user {
  position: relative;
  padding: 0px 5px 5px;
}

.profile .user .avatar {
  position: absolute;
  left: 20px;
  top: -85px;
  z-index: 2;
}

.profile .user h2 {
  font-size: 16px;
  line-height: 20px;
  display: block;
  float: left;
  margin: 4px 0px 0px 135px;
  font-weight: bold;
}

.profile .user .actions {
  float: right;
}

.profile .user .actions .btn {
  margin-bottom: 0px;
}

.profile .info {
  float: left;
  margin-left: 20px;
}

.img-profile {
  height: 100px;
  width: 100px;
  object-fit: cover;
}

.img-cover {
  width: 100%;
  height: 315px;
  object-fit: cover;
  filter: blur(1px);
  -webkit-filter: blur(1px);
  -moz-filter: blur(1px);
}
.profile-meat {
  padding-top: 2%;
  padding-left: 2%;
}
.right-side-profile {
  padding-left: 5%;
}
.profile-information {
  padding-top: 1%;
}
.profile-soc-links {
  color: #212529;
}
.profile-soc-links:link {
  color: #212529;
}
.profile-soc-links:hover {
  color: #212529;
}
.deal-info {
  padding-top: 3%;
}
h1 {
  font-family: "Rubik";
}

.caption {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  font-weight: bold;
}
.caption-link {
  text-decoration: none;
  color: white;
}
.caption-link:hover {
  text-decoration: none;
  color: white;
}

/*  Beat Cards */
.playable-tile {
  position: relative;
  width: 50%;
}

.beat-image-main {
  width: 100%;
  height: 200px;
  object-fit: cover;

  overflow: hidden;
}

.profile-beat-image-main {
  width: 100%;
  height: 150px;
  object-fit: cover;

  overflow: hidden;
}

.tile-overlay {
  /* transition: 0.5s ease;
  /* opacity: 0; */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  /* background: rgba(63, 63, 63, 0.8); */
  text-align: center;
  /* padding: 20px 0 203px 0; */
  opacity: 0;
  visibility: hidden;
  transition: all 0.2s ease;
}

/* .playable-tile:hover .beat-image-main {
  opacity: 0.4;
  background-color: #000;
} */

.playable-tile:hover .tile-overlay {
  opacity: 1;
  visibility: visible;
}

.play-button {
  background-color: none;
  font-size: 16px;
  padding: 16px 32px;
}
.currSoundInfo {
  margin-top: 15px;
}

/*  End Beat Cards */

/* Play Pause Toggle */

/* End Play Pause Toggle  */

@media (max-width: 768px) {
  .btn-responsive {
    padding: 2px 4px;
    font-size: 80%;
    line-height: 1;
    border-radius: 3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding: 4px 9px;
    font-size: 90%;
    line-height: 1.2;
  }
}

/* FOOTER */

.footer {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  -webkit-flex-flow: row wrap;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  flex: 0 0 auto;
  order: 3;
  background-color: #fff;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

.footer audio {
  order: 1;
  flex: 3;
}

.footer p {
  order: 2;
  flex: 1;
  font-size: 12px;
  padding-left: 10px;
}
